@use './colors';

@mixin section-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        h2{
            font-size: 2.3rem;
            font-weight: 200;
            b{
                color: rgb(163,117,94);
            }
        }

        @media only screen and ( min-width:576px ){
            align-items: flex-start;
            padding: 0 1.8rem;
        }

        @media only screen and ( min-width:992px ){
            padding: 0 3rem;

            h2{
                font-size: 3rem;
            }

        }

        @media only screen and ( min-width:1400px ){
            padding: 0 4rem;

            h2{
                font-size: 3.5rem;
            }

        }

}

@mixin productos-link($colorFondo){
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    a{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        border: 1px solid $colorFondo;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        color: colors.$claro;
        background-color: $colorFondo;
        box-shadow: 5px 5px 15px colors.$oscuro;
        .flecha{
            display: flex;
            justify-content: center;
            width: 30px;
        }
    }

    @media only screen and ( min-width:576px ) {
        justify-content: center;
    }

    @media only screen and ( min-width:992px ) {
        a{
            font-size: 2rem;
        }
    }
}


@mixin descripcion-secciones {
        padding: 1rem 1rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3{
            color: colors.$principal;
            font-weight: 400;
            font-style: italic;
            margin: 0 0 0.5rem 0;
            font-size: 1.5rem;
        }

        @media only screen and ( min-width:768px ) {
            width: 45%;
        }

        @media only screen and ( min-width:1200px ) {
            h3{
                font-size: 2rem;
            }
        }

        @media only screen and ( min-width:1400px ) {
            h3{
                font-size: 2.5rem;
            }
        }

}

@mixin imagenes-animadas {
    position: relative;
        img{
            position: absolute;
            height: 100%;
            bottom: 0;
        }
}