@use '../util/colors';
@use 'sass:color';

.banner{
    width: 100%;
    position: relative;
    .banner__flecha{
        position: absolute;
        left: calc(50% - 50px);
        bottom: 30px;
        width: 100px;
        rotate: 90deg;
    }

    .banner__container{
        width: 100vw;
        height: calc(95vh - 70px);
        .banner__img{
            background-image: url('../assets/img/banner/banner_01.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and ( min-width:992px ){
    .banner{
        .banner__container{
            height: 70vh;
        }
    }
}
