@use './banner';
@use './productos';
@use './sale';
@use './comoComprar';
@use './envios';
@use './pagos';
@use './preguntas';

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .name{
        position: fixed;
        left: -100%;
    }
}